body{
    color: white;
    background-repeat: no-repeat;
    background:url(../assets/background.png);
    margin: 5%;
}

h1{
    text-align: center;
    background-color: black;
}
img{
    width: 98%;
    border: 4px solid white;
}
a{
    color: white;
}
ul{
 list-style: none;
}
button{
    width:90%;
    text-align: left;
    background-color: lightblue;
    font-size: large;
    border: 0;
    padding: 2%;
}
button::after{
    content: ">";
    float: right;
}
